[Desktop Entry]
Name=XMonad
Comment=Lightweight tiling window manager
# Exec=xmonad-session
Exec=/home/chhetrisushil/starter
Icon=xmonad.png
Type=XSession
